<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>

  <h1>Classmates</h1>


  <ul>
    <% for(let i = 0; i < classmates.length; i++) { %>
    <li><h3>
      Name: <%= classmates[i].name %> <br/>
      Age: <%= classmates[i].age %> <br/>
      Number: <%= classmates[i].number %>
      <form action="/objects/<%= i %>?_method=DELETE" method ="POST">
      <input type="submit" value ="delete">
      </from>
    </li></h3>

  <% } %>

  </ul>

</body>

</html>
